name = "lp-factory-api"
main = "src/worker.js"
compatibility_date = "2024-12-01"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "ppc-gen-claude"
database_id = "7d31d941-f863-46f5-99c2-2179de821573"
